@import url(./base.css);

.home-section {
  display: flex;
  flex-direction: column;
}

.welcome {
  color: var(--h-text-color);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.welcome span {
  background: linear-gradient(to left, rgba(25, 170, 242, 1) 0%, rgba(229, 18, 171, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.5rem;
}

.gradient-border {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 0.5rem;
  border-radius: 100%;
  background: linear-gradient(to bottom, #e70faa, #00c0fd);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

@media (min-width: 1024px) {
  .home-section {
    width: 70vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  .welcome {
    font-size: 4rem;
  }

  .welcome span {
    font-size: 4rem;
  }

  .gradient-border {
    width: 349px;
    height: 349px;
  }
}
