@import url(./base.css);

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects__intro h2 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--h-text-color);
}

.project-title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--text-color-black);
}

.projects-section {
  display: flex;
  flex-direction: column;
}

.projects-section__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.projects-section__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50rem;
  height: 20rem;
  margin-top: 4rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  background-color: var(--project-background-color);
}

.projects-section__item:last-of-type {
  margin-bottom: 100px;
}

.project__text-block {
  font-weight: 300;
  line-height: 26px;
  color: var(--text-color-grey);
}

.project__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.project__link {
  color: var(--text-color-black);
}

.project__icon {
  width: 20px;
}

@media (min-width: 1024px) {
  .projects__intro h2 {
    font-size: 42px;
    margin-top: 100px;
  }

  .projects__intro p {
    font-size: 18px;
  }

  .projects-section__container {
    width: 80vw;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .projects-section__item {
    width: 40rem;
    height: 20rem;
  }

  .project__img {
    width: 100%;
    height: 260px;
  }

  .project-title {
    font-size: 28px;
  }

  .project__text-block p {
    font-size: 18px;
  }
}
